.card-container-one {
    box-shadow: 2px 1px 19px -8px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 1px 19px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 1px 19px -8px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin: 5px;
    border-color: black;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .card-container-one >#card-image {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .card-container-one:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card-text-container {
    padding: 2px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  #card-jersey {
    width: 110px;
    margin: 20px;
  }
  .card-text{
    height: 130px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
h4{
    font-size: 17px;
    font-weight: 900;
}
.card-text > p{
    font-size: 12px;
    color: rgb(156, 155, 155);
    
    padding-top: 12px;
}
.card-text > h2{
    font-size: 13px;
    font-weight: 900;
    font-style: italic;
    color: #154284;
    
    padding-top: 12px;
}