.match-card-container{
    height: 300px;
    width: 300px;
    background-image: url("https://www.sydneyolympicpark.com.au/-/media/images/sopa/global-library/events/accor-stadium/fc-barcelona-v-aleagues-all-stars-20221920x1280.png?ImageResizing=true&w=1024&h=683&mode=crop&hash=8C3110DDCFA8CC5B0B7156B5A79F50C0E6471259"), linear-gradient(230deg,rgba(24,23,53,.9),rgba(154,0,11,.9));
    
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    font-weight: 400;

}