.container{
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
.image-style {
    width: 200px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;    
}
#img1{
    background-image: url("../resc/img1.webp");
}
#img2{
    background-image: url("../resc/img2.webp");
}
#img3{
    background-image: url("../resc/img3.webp");
}
#gradient{
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25541554512429976) 58%,
        rgba(0, 0, 0, 1) 94%
      );
    z-index: 10;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

}
    
#img1:hover{
    flex-grow: 6;
    background-size: auto;
    transition: all 0.3s linear;
    overflow: hidden;
}
#img2:hover{
    flex-grow: 6;
    background-size: auto;
    transition: all 0.3s linear;
    overflow: hidden;
}
#img3:hover{
    flex-grow: 6;
    background-size: 120%;
    transition: all 0.3s linear;
    overflow: hidden;
    
}
#gradient:hover > p {
    display: block;
  }
#gradient:hover > .text {
    font-size: 40px;
    width: 650px;
  }
#gradient > p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    width: 400px;
    display: none;
  }
  
.text {
    font-size: 20px;
    width: 350px;
    margin: 10px;
    color: white;
    text-align: center;
  }
#icon-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    font-size: 10px;
  }

  #icon-carousel > h1{
    color: #fdc52c;
    font-size: 11px;
    padding-right: 5px;
  }

.barcatv{
    color: #fdc52c;
    font-size: 20px;

}