.container{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
img{
height: 510px;
display: flex;
align-items: center;
justify-content: center;
}
#imgcar:hover{
    transform: scale(1.1);
}
.image-style {
    width: 200px;
    height: 510px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}
#img1{
    background-image: url("../resc/img1.webp");
}
#img2{
    background-image: url("../resc/img2.webp");
}
#img3{
    background-image: url("../resc/img3.webp");
}
#gradient{
    background: linear-gradient(0deg,#080e1f 6rem,rgba(8,14,31,0));
    z-index: 10;
    height: 200px;
    width: 100%;

}
    
#img1:hover{
    flex-grow: 4;
    background-size: auto;
    transition: all 0.3s linear;
    overflow: hidden;
}
#img2:hover{
    flex-grow: 4;
    background-size: auto;
    transition: all 0.3s linear;
    overflow: hidden;
}
#img3:hover{
    flex-grow: 4;
    background-size: auto;
    transition: all 0.3s linear;
    overflow: hidden;
    
}
.image-style:hover > p {
    display: block;
  }
.image-style > p {
    text-align: center;
    font-size: 15px;
    width: 60%;
    display: none;
  }
  
.text {
    margin: 20px;
    color: white;
    text-align: center;
  }
#icon_carousel{
    margin: 20px;
    text-align: center;
  }