.container {
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
h1 {
  font-weight: 900;
  transition: font-size 0.3s linear;
  z-index: 2;
}
p {
  margin: 5px auto;
  transition: opacity 0.3s linear;
  z-index: 2;
  transition: 0.45s;
}
span {
  color: #fdc52c;
  font-weight: 900;
  transition: font-size 0.3s linear;
  z-index: 2;
}
.image-style {
  width: 20%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s linear;
  cursor: pointer;
  position: relative;
}
#img1 {
  background-image: url("../../resc/img1.webp");
}
#img2 {
  background-image: url("../../resc/img2.webp");
}
#img3 {
  background-image: url("../../resc/img3.webp");
}
.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.25541554512429976) 58%,
    rgba(0, 0, 0, 1) 94%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.image-style > p {
  text-align: center;
  font-size: 15px;
  width: 60%;
}
.text {
  margin: 0px 20px;
  color: white;
  text-align: center;
}
#icon_carousel {
  margin: 20px auto;
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2; 
 
}
.icon{
    color:#fdc52c;
    font-size: .7rem;
    font-weight: 700;
    position: relative;
}
.icon::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fdc52c;
  position: absolute;
  top: 13%;
  left: -13px;
}
.time{
    width: 40%;
    font-size: .8rem;
    display: flex;
  justify-content: space-around;
  align-items: center;
}
.hour{
    color: white;
    font-weight: 400;
     z-index: 2;
}